@{
    ViewData["Title"] = "Vendas";
}

<div class="row">
    <div class="col-md-12 text-center mt-5 mb-3">
        <!-- Adiciona margem superior e centraliza -->
        <a asp-action="CadastroVenda" class="btn btn-success">Cadastrar Nova Venda</a>
    </div>
</div>

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaSimples">
            <fieldset>
                <legend>Busca Simples</legend>
                <div class="form-group">
                    <label for="minData" class="col-lg-2">Data Mínima</label>
                    <div class="col-lg-10">
                        <input type="date" name="minData" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxData" style="white-space: nowrap;" class="col-lg-2">Data Máxima</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxData" class="form-control" />
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-primary me-3">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaAgrupada">
            <fieldset>
                <legend>Busca Agrupada</legend>
                <div class="form-group">
                    <label for="minData" class="col-lg-2">Data Mínima</label>
                    <div class="col-lg-10">
                        <input type="date" name="minData" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxData" class="col-lg-2" style="white-space: nowrap;">Data Máxima</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxData" class="form-control" />
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
        @TempData["Sucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}